{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if ! command -v brew > /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# .Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
brew bundle --no-lock --file=$HOME/.Brewfile

FISH_PATH=$(which fish)
if [ $SHELL != $FISH_PATH ]; then
    grep -qxF $FISH_PATH /etc/shells || sudo sh -c "echo $FISH_PATH >> /etc/shells"
    chsh -s $FISH_PATH
fi

$(brew --prefix)/opt/fzf/install --key-bindings --completion --update-rc --no-bash --no-zsh
{{ end -}}
